/*
html, body{
  background: #3D9970;
} */

.menu{
  position: relative;
  margin: -16px 1000px 0px -8px;

  background-color: lightgray;
}

.menu li{
  display: inline-block;
  padding: 40px 50px;
  font-family: fantasy;
}

.menu a{
  text-decoration: black;
  color: blue;
  cursor: pointer;
}


.pic{
  width: 100px;
}
