
body{
  background-color: #FFC0CB;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}


.menu{
padding: 25px;
margin-left: -8px;
margin-right: -8px;
margin-top: -8px;
background-color: lightgray;
}

.menu li{
  font-size: 25px;
  display: inline;
  padding: 30px;
  font-family: fantasy;
}

#nightMode{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

 .menu a{
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.logo{
  background-image: url("images/newSlogo.jpg");
  /* background-size: 60px; */
  /* border-radius: 50%;
  position: relative;
  top: -13px;
  text-indent: -99999999px;
  display: inline-block;
  width: 50px;
  height: 50px; */

}


 .flex-container{
   display: flex;
   margin-left: -8px;
   /* color: white; */
   margin-left: -8px;
   margin-right: -8px;
   padding: 400px;
   height: auto;
}



/* .AboutMe div{
  margin-left: -8px;
} */

 img{
  width: 200px;
  margin-left: 800px;
  margin-top: -300px;
  border-radius: 10px;
}

.IntroMsg, .AboutMe, .Experience{
  font-size: 20px;
  /* position: absolute; */
  left: 25%;
}


.text, p{
  display: block;
  box-sizing: inherit;
}

footer{
  margin-bottom: -10px;
  padding: 40px;
  border: 1px black;
  background: lightgray;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
}

#fname, #lname, #message{
  width: 100%;
  padding: 12px;
  border: 1px solid #black;
  margin-top: 5px;
  resize: vertical;
}

#submitButton{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

#emailButton{

  cursor: pointer;
  padding: 30px 40px;
  border-radius: 10px;
}


 #bigText{
   font-size: 40px;
   font-weight: bold;
 }

 .tabContainer{
   margin: auto;
   width: 500px;
   height: 350px;

 }

 .tabContainer .buttonContainer{
   height: 15%;
 }

 .tabContainer .buttonContainer button{
   width: 33.33%;
   height: 100%;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 10px;
   font-size: 17px;

 }

  .tabContainer .buttonContainer button:hover{
    background-color: gold;
  }

  .tabPanel{
    height: 85%;
    background-color: purple;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    display: none;
  }

  .tabPanel a{
    color: white;
  }
