
html, body{
  margin: 0px;
  margin-top: -8px;
  background: #3D9970;
}

.menu{
  border-color: black;
  border-radius: 5px;
  margin-top: 0;
  background-color: lightgray;
  width: 100%;
}

.menu a{
  text-decoration: black;
  color: blue;
  cursor: pointer;
}


.menu li{
  display: inline-block;
  margin: 10px;
  padding: 40px 70px;
  text-align-last: center;
  font-family: fantasy;
}

.pic{
  width: 100px;



}
